
.choice-box .label {
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: white;
}

.shadow-effect {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 4);
}

.custom-border-radius-full {
    -fx-background-radius: 20px 20px 20px 20px; /* Top-left, Top-right, Bottom-right, Bottom-left */
}

.custom-border-radius {
    -fx-background-radius: 0 20px 20px 0; /* Top-left, Top-right, Bottom-right, Bottom-left */
}

.custom-border-radius-left {
    -fx-background-radius: 20px 0 0 20px; /* Top-left, Top-right, Bottom-right, Bottom-left */
}
